html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    padding-left: 10px;

    font-family: Helvetica, Verdana, sans-serif;
    //background: url(../images/chicago_f1_logo.jpg) no-repeat;
    background: #050202;
    color: #ddd;
}

th {
  color: #aa0000;
  font-size: 20px;
}

h1 {
    color: #aa0000;
}

.standardTable {
    width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
    padding: 0 20px;
}

ul li {
    float:left;
    //padding: 20px;
    overflow: auto;
}

ul.editions li {
    width: 500px;
    margin: 4px;
    background: #111;
    border: solid 1px #111;
}

li .printId {
    padding: 55px 10px 10px 10px;
    height: 100px;
    width: 150px;
    float:left;
    background: #5a1111;
    text-align: center;
}

li .printId {
    padding: 55px 10px 10px 10px;
    height: 100px;
    width: 150px;
    float:left;
    background: #5a1111;
    text-align: center;
}

li .printId:hover {
    background: #9a1111;
}

.printId a {
    margin: 0 15px 0 0;
    height: 100px;
    width: 150px;
    font-size: 30px;
}



.detail {
    padding-top: 5px;
    padding-left: 20px;
    height: 100%;
    float: left;
    vertical-align: middle;
}

.clear {
    clear:both;
}

li:hover {
  background: #990000;
  cursor: pointer;
}

a {
    color: #aaa;
    text-decoration: none;
}

.center {
    text-align: center;
}

tr.odd {
	background-color: #8a0000;
}

tr.even {
	background-color: #1f0000;
}

tr.odd td.sorting_1 {
	background-color: #8a0000;
}

tr.even td.sorting_1 {
	background-color: #1f0000;
}
