- attributes("title") = "Championships"
- attributes("headline") = "Championships"

h1(class='pageTitle') Championships

#championshipList

script(type='text/javascript' src='/js/championships.js')

- render("analytics.ssp")
