- attributes("title") = "List of Editions"
- attributes("titleName") = "Editions"
- attributes("headline") = "Editions"
-@ val editions: List[com.chicagof1.model.Edition]

ul(class='editions')
  - for(e <- editions) {
  li
    .edition
      .printId
        a= e.printId
      .detail
        h3= e.winner
        p= e.results(0).formattedTime
        a(href='editions/#{e.date}')= e.date
  - }