- attributes("title") = "List of Editions"
- attributes("headline") = "Editions"
-@ val editionsWithRaces: List[com.chicagof1.model.EditionWithRaces]

h1(class='pageTitle') Editions
ul(class='editions list-unstyled floating')
  - for(er <- editionsWithRaces) {
  -   val e = er.edition
  li
    .editionDiv
      a(href='editions/#{e.date}')
        .editionData
          h3(class='editionId')= e.printId
          h3(class='winner')= e.winner
          p(class='time')= e.results(0).formattedTime
  - }

- render("analytics.ssp")

script(type='text/javascript' src='/js/editionResize.js')