-@ val edition: com.chicagof1.model.Edition
- attributes("title") = s"Edition ${edition.printId}"
- attributes("titleName") = s"Edition ${edition.printId}"
- attributes("source") = "/data/editions/" + edition.date

h1= s"Edition ${edition.printId}"
#content
- render("racer-results.jade")

- render("analytics.ssp")