- attributes("title") = "Profile"
- attributes("headline") = "Profile"

h1.pageTitle Profile

p The system wasn't able to detect you as one of our racers, therefore there is no profile associated with you.