- attributes("title") = "List of Races"
- attributes("titleName") = "Races"
- attributes("headline") = "Races"
-@ val raceIds: List[String]

ul(class='list-unstyled')
  - for(id <- raceIds) {
  li
    .race
      a(href='races/#{id}')= id
      .winner
  - }