-@ val race: com.chicagof1.model.Race
- attributes("title") = s"Race ${race.raceId}"
- attributes("titleName") = "Races"
- attributes("source") = "/data/races/" + race.raceId

h1= s"Race ${race.raceId}"
#content
- render("racer-results.jade")