-@ val race: com.chicagof1.model.Race
- attributes("title") = s"Race ${race.raceId}"
- attributes("titleName") = "Races"

#content
  table(id='example' class='standardTable')
    thead
      tr
        th Racer
        th Position
        th Kart #
        th Time
      tbody
  :!javascript
    $(document).ready(function() {
      $('#example').dataTable( {
    	"bProcessing": true,
        "sAjaxSource": '/data/races/#{race.raceId}',
        "bPaginate": false,
        "aaSorting": [[ 1, "asc" ]],
        "bInfo": false,
        "aoColumnDefs": [
          { "sClass": "center", "aTargets": [1, 2, 3] }
        ]
      });
    });